absl-py==1.4.0
accelerate==0.21.0
aiohttp==3.8.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.0.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==22.2.0
Babel==2.13.1
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.12.2
bleach==6.1.0
blessed==1.20.0
blis==0.7.11
Bottleneck==1.2.1
cachetools==5.3.0
catalogue==2.0.10
cephfs==2.0.0
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.1.0
chart-studio==1.1.0
clean-text==0.6.0
click==8.1.3
cloudpathlib==0.16.0
ClusterShell==1.8.3
cmake==3.26.0
colorama==0.4.6
comm==0.1.3
confection==0.1.3
contourpy==1.0.7
convokit==3.0.0
croniter==1.3.8
cryptography==3.3.2
cycler==0.11.0
cymem==2.0.8
Cython==0.29.21
datasets==2.11.0
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deepdiff==6.2.3
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.1
dnspython==2.4.2
einops==0.6.1
email-validator==1.3.1
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl#sha256=6215d71a3212690e9aec49408a27e3fe6ad7cd6c715476e93d70dc784041e93e
entrypoints==0.4
et-xmlfile==1.0.1
evaluate==0.4.1
exceptiongroup==1.2.0
executing==1.2.0
fastapi==0.88.0
fastjsonschema==2.17.1
filelock==3.10.7
focal-loss-torch==0.1.2
fonttools==4.39.3
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.3.0
ftfy==6.1.3
GDAL==3.2.2
gensim==4.3.1
git-cola==3.9
google-auth==2.17.0
google-auth-oauthlib==0.4.6
graphviz==0.20.1
grpcio==1.53.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.18.1
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.16.4
idna==3.4
imbalanced-learn==0.11.0
importlib-metadata==6.1.0
importlib-resources==6.1.1
iniconfig==0.0.0
inquirer==3.1.3
invoke==1.4.1
ipykernel==6.22.0
ipympl==0.9.3
ipython==8.17.2
ipython-genutils==0.2.0
ipywidgets==8.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jdcal==1.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter-server==2.9.1
jupyter-server-terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-server==2.25.0
jupyterlab-widgets==3.0.8
kaleido==0.2.1
kiwisolver==1.4.4
langcodes==3.3.0
lftk==1.0.9
libvirt-python==7.0.0
lightning==1.9.4
lightning-cloud==0.5.31
lightning-utilities==0.9.0
lit==15.0.7
llvmlite==0.41.1
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mock==4.0.3
more-itertools==4.2.0
mpmath==1.3.0
msgpack==1.0.7
msgpack-numpy==0.4.8
multidict==6.0.4
multiprocess==0.70.14
munch==2.5.0
murmurhash==1.0.10
mypy-extensions==1.0.0
mysqlclient==1.4.4
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.0
ndjson==0.3.1
nest-asyncio==1.5.6
networkx==3.0
nltk==3.8.1
notebook==6.0.0
notebook-shim==0.2.3
numba==0.58.1
numexpr==2.7.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.46
openai==0.27.8
openpyxl==3.0.3
ordered-set==4.1.0
orjson==3.8.7
overrides==7.4.0
owlready2==0.45
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.0
paramiko==2.7.2
parso==0.8.3
pathy==0.10.1
pbr==5.5.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
plac==1.1.3
platformdirs==3.2.0
plotly==5.15.0
pluggy==0.13.0
ply==3.11
portalocker==2.8.2
preshed==3.0.9
prettytable==0.7.2
prometheus-client==0.17.1
prompt-toolkit==3.0.38
protobuf==4.22.1
psutil==5.9.4
psycopg2==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==2.4.2
pydantic-core==2.10.1
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.14.0
PyGObject==3.38.0
pygraphviz==1.7
PyJWT==2.6.0
pymongo==4.6.1
PyNaCl==1.4.0
pyparsing==3.0.9
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyre-extensions==0.0.29
pyrsistent==0.19.3
pytest==6.0.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-lightning==2.1.0
pytz==2023.3
PyYAML==6.0.1
pyzmq==24.0.1
qtconsole==5.4.4
QtPy==2.4.1
rados==2.0.0
rbd==2.0.0
rdflib==7.0.0
readchar==4.0.3
referencing==0.30.2
regex==2023.3.23
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.2
rpds-py==0.10.6
rsa==4.9
sacrebleu==2.3.3
safetensors==0.3.1
SciencePlots==2.0.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.98
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.2
starlette==0.22.0
starsessions==1.3.0
syllapy==0.7.2
sympy==1.11.1
tables==3.6.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado==0.17.1
thinc==8.2.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.1
tomli==2.0.1
torch==2.1.0
torchaudio==0.13.1
torchdata==0.7.0
torchinfo==1.7.2
torchmetrics==0.11.4
torchsummary==1.5.1
torchtext==0.16.0
torchvision==0.16.0
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.31.0
triton==2.1.0
typer==0.9.0
types-python-dateutil==2.8.19.14
typing==3.7.4.3
typing-extensions==4.8.0
typing-inspect==0.9.0
ujson==5.7.0
Unidecode==1.3.7
uri-template==1.3.0
urllib3==1.26.15
uvicorn==0.21.0
uvloop==0.17.0
virtualenv==20.4.0+ds
wasabi==0.10.1
watchfiles==0.18.1
wcwidth==0.2.12
weasel==0.3.4
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==10.4
Werkzeug==2.2.3
wget==3.2
widgetsnbextension==4.0.8
xformers==0.0.20
xlwt==1.3.0
xxhash==3.2.0
yarl==1.8.2
zipp==3.17.0
